<ul class="list-group">
	<% results.first(6).each do |user| %>
		<a href="/users/<%= user.id %>" + user.id + "" class="list-group-item list-group-item-action"><%= user.first_name %></a>
	<% end %>
</ul>