<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p>
	<%= @post.title %>
</p>
<p>
	<%= @post.content %>
</p>
<p>
	<% @post.comments.each do |comment| %>
		<ul>
			<li>
				<%= comment.content %>
				<p>- <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %></p>
			</li>
		</ul>
	<% end %>
</p>