<ul class="list-group">
	<% if @results %>
		<% @results.first(6).each do |i| %>
			<a href="/user/<%= i.id %>" + i.id + "" class="list-group-item list-group-item-action"><%= i.first_name %></a>
		<% end %>
	<% end %>
</ul>